<div class="sidenav1">
    <div class="icons1">
        <img class="n_logo" src="assets/images/N_logo2x.png">
        <img class="files" src="assets/images/files.png">
        <img class="path2" src="assets/images/path2.png">
        <img class="batch_assi" src="assets/images/batch_assi.png">
      </div>
      

</div>
<!-- <div class="sidenav2"> -->
  
<div>
  <div class="display" style="height: 100vh">
    <ngx-extended-pdf-viewer [(src)]="path1"></ngx-extended-pdf-viewer>
    <ngx-extended-pdf-viewer [(src)]="path2"></ngx-extended-pdf-viewer>
  </div>
</div>

<!-- </div> -->

<!-- 
<div class="horizontal ">
  <div class="icons2">
    <input type="text" class="search" placeholder="Search" >
    <img class="search_img" src="assets/images/search.png">
    
    <div name="auto_zoom"class="well well-sm">Automatic Zoom</div>
    
</div>

</div> -->

<!-- 
<div>
  <div class="display" style="height: 100vh">
    <ngx-extended-pdf-viewer [(src)]="path"></ngx-extended-pdf-viewer>
  </div>
</div> -->