<div class="sidenav1">
    <div class="icons1">
        <img class="n_logo" src="assets/images/N_logo2x.png">
        <img class="files" src="assets/images/files.png">
        <img class="path2" src="assets/images/path2.png">
        <img class="batch_assi" src="assets/images/batch_assi.png">
      </div>

</div>

<div class="sidenav2">
    <div class="icons2">
        <input type="text" class="search" placeholder="Search" >
        <img class="search_img" src="assets/images/search.png">
        
    </div>
    <img class="filter" src="assets/images/filter.png">
    <div class="test"></div>
</div>

<div class="horizontal ">

</div>